[submodule "static/password-generator"]
	path = static/password-generator
	url = https://github.com/okamoai/password-generator.git
[submodule "static/qrcode-generator"]
	path = static/qrcode-generator
	url = https://github.com/okamoai/qrcode-generator
[submodule "static/lit-element-es5"]
	path = static/lit-element-es5
	url = https://github.com/okamoai/lit-element-es5.git
